body{
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
    
    
}
.conteudo{

    
    padding: 12px;
    margin-top: 120px;
    background-color: #3a6ea5;
    width: 515px;
    border-radius: 10px;
    opacity: 90%;
    height: 442px;
    
    
    
    
    
    
    
    
    
    
}



.inserir{
    
    width: 500px;
  
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    
   
   
    
}



#telefone {
    margin-top: 25px;
    
}


.bloco  {
    color: white;
    
    
    
    
    
}

.logo {
    display: flex;
    
    
   margin-top: 5px;
    width: 220px;
    height: 220px;
    margin-left: 155px;

} 

.recul_pin {
    border-radius: 10px;
    padding: 8px 26px ;
    margin-top: 27px;
    border: none;
    position: absolute;
    
}


#caixa_pin {
    border-radius: 10px;
    width: 320px;
    height: 137px;
    margin-top: 32px;
    opacity: 60%;
    margin-left: 97px;
    background-color: white;
    text-align: center;
    
    margin-bottom: 20px;
    
    
    
    display: flex;
    position: relative;
    display: none;
        
   

}

.texto_pin {
   
    padding: 12px;
    margin-left: 3px;
    
}


form {
    margin-top: 39px;
    

    
}

.fechar_elemento {
    margin-left:233px;
    border-radius: 8px;
    height: 30px;
    margin-top: -2px;
    width: 70px;
    border: none;
    background-color: white;
    
    
}

#caixa_pin p {
    margin-top: 2px;
    font-size: 26px;
}